.page {
  background-color: rgb(23, 25, 26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar {
  position: absolute;
  top: 0;
  padding-top: 60px;
  width: 100%;
  background-color: rgb(23, 25, 26);

}

#name {
  color: white;
  font-size: 1em;
  font-family: 'Poppins', Times, serif;
  padding-right: 600px;
  padding-left: 20%;
}

.navElement {
  font-family: 'Poppins', Times, serif;
  color: white;
  font-size: 0.6em;
  opacity: 0.6;
  padding-right: 50px;
  text-decoration: none;
}

#main {
  height: 80vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/f2px36fy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#contactSection {
  height: 101vh;
  /*Due to the scroll bar popping up it offsets the navbar, hence vh 101 until footer is added */
  width: 100vw;
}

#mainContent {
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 10px;

}

#aboutMe {
  height: 80vh;
  width: 100vw;

}


#aboutMeContent {
  position: relative;
  top: 20%;
  left: 20%;
  width: 1000px;

}

#ghDiv {
  position: relative;
  left: 15%;
  top: 8%;

}

h1 {
  font-family: 'Poppins', Times, serif;
  font-size: 70px;
}

h2 {
  font-family: 'Poppins', Times, serif;
  font-size: 16px;
  opacity: 0.8;
}

.navElement:link {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/*Not supported by all browsers*/
html {
  scroll-behavior: smooth;
}